
*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #eee;
  font-family: Poppins;
  font-size: 12px;
}
#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}
nav{
  background-color: #000;
  box-shadow: 0px 2px 5px white;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
  position: relative;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 120%;
}

nav .sidebar a{
  color: black
}

nav li:not(.menu-button, .close, .logo):hover{
  background-color: #ffffff;
  a{
  color: rgb(0, 0, 0);
  }
}
nav li:first-child{
  margin-right: auto;
}

li:not(.menu-button, .close, .logo):hover::after{
  content: '';
  background: #495054;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
@media(max-width: 1170px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
  .sidebar li:first-child{
    margin-left: 23px;
  }
}

.z-1000{
  z-index: 1000;
}
.current-nav{
  background-color: #fff;
  a{
    color: #000;
}
}
.current-nav::after{
  content: '';
  background: #495054;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}


