.earth-container {
  height: 98vh; /* Set the fixed height */
  overflow: hidden;
  position: relative;
  border: 1px solid #000; /* Optional: for visual reference */
}

*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
  background-color: #8D765A;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
  position: relative;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #f1f0ec;
}

nav .sidebar a{
  color: black
}

nav li:not(.menu-button, .close, .logo):hover{
  background-color: #DFD6C2;
  a{
  color: black;
  }
}
nav li:first-child{
  margin-right: auto;
}

li:not(.menu-button, .close, .logo):hover::after{
  content: '';
  background: rgb(70, 57, 40);
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
  .sidebar li:first-child{
    margin-left: 23px;
  }
}

  .earth {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px rgb(141, 92, 0) inset, 0 0 20px 2px rgb(92, 60, 0);
  }
  
  .earth:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -20px -20px 50px 2px #392200 inset;
    border-radius: 50%;
  }
  
  .earth>div {
    width: 800%;
    height: 100%;
    background-image: url(../images/svgs/world4.svg);
    background-size: cover;
    animation: spin 2.6s linear forwards;

  }
  

  @keyframes spin {
    0% {
      transform: translateX(0);
    }
  
    100% { 
      transform: translateX(-86.45%);
    }
  }
  
  .zoom-effect {
    animation: zoomIn 2.3s linear 0.3s forwards;
    position: absolute;
    content: "";
    top: 270px;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: center center;
  }
  
  
  @keyframes zoomIn {
    10% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.5);
    }
    40% {
      transform: scale(2);
    }
    60% {
      transform: scale(5);
    }
    80% {
      transform: scale(8);
    }
    90% {
      transform: scale(9);
    }
    100% {
      transform: scale(10);
    }
  }

  .icon {
    width: 30px;
    height: 30px;
    background-image: url('../images/logo.png'); /* Replace with your icon path */
    background-size: cover;
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
}

  #world-ind svg path:hover{
    fill: orange;
  }
  #world-ind{
  z-index: -100000;
  
  }
  #world-ind svg{
    z-index: -100000;
    width: 98vw;
    @media (max-width: 1000px) {
      width: 98vw;
      height: 32vh;
    }
  }
  .BornHS__Wrapper {
    position: relative;
  
    .BornHS__Close {
      display: none;
    }
    .Content__Wrapper {
      position: relative;
    }
  
    .BornHS__Modal__Content {
      background: #131313;
      border-radius: 5px;
      box-shadow: 0 0 24px rgba(0, 0, 0, 0.22);
      color: #fff;
      opacity: 0;
      position: relative;
      transition: all 0.3s ease-in-out;
      visibility: hidden;
      width: 360px;
      z-index: 4;
      .Content__Wrapper {
        padding: 20px;
        position: relative;
        .BornHS__Title {
          font-size: 16px;
          text-transform: uppercase;
        }
        p {
          font-size: 13px;
          margin: 0;
          padding: 0;
        }
      }
    }
  
    .BornHS__Input {
      height: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      text-indent: -9999px;
      width: 0;
      z-index: -1;
      + .BornHS__Label {
        background: #ec2256;
        border-radius: 50%;
        cursor: pointer;
        height: 15px;
        position: absolute;
        transition: all 300ms ease;
        width: 15px;
        z-index: 2;
        @media (min-width: 768px) {
          height: 15px;
          width: 15px;
        }
        &:before,
        &:after {
          background: #fff;
          content: "";
          cursor: pointer;
          display: block;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
  
        &:before {
          height: 2px;
          width: 40%;
        }
        &:after {
          height: 40%;
          width: 2px;
        }
      }
      ~ .BornHS__Overlay {
        display: none;
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 3;
      }
      &:checked {
        + .BornHS__Label {
          transform: rotate(45deg);
        }
        ~ .BornHS__Modal__Content {
          opacity: 1;
          visibility: visible;
        }
        ~ .BornHS__Overlay {
          display: block;
        }
      }
    }
    &.BornHS__Blur {
      figure {
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
      }
      .BornHS__Input {
        display: none;
        + .BornHS__Label {
          opacity: 0.5;
          pointer-events: none;
        }
        &:checked {
          display: inline-block;
          + .BornHS__Label {
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
    }
  }
  
  
  @media (max-width: 768px) {
    .BornHS__Wrapper {
      .BornHS__Modal__Content {
        bottom: auto !important;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
  
        .BornHS__Close {
          background: #ec2256;
          border-radius: 50%;
          cursor: pointer;
          display: block;
          height: 20px;
          right: -5px;
          position: absolute;
          top: -5px;
          transition: all 300ms ease;
          transform: rotate(45deg);
          width: 20px;
          z-index: 5;
  
          &:before,
          &:after {
            background: #fff;
            content: "";
            cursor: pointer;
            display: block;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
          }
  
          &:before {
            height: 2px;
            width: 40%;
          }
          &:after {
            height: 40%;
            width: 2px;
          }
        }
      }
    }
  }
  